html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

/* HEADER STYLES */ 
header {
    background-color: teal;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 8rem;
    text-align: right;
    color: teal; 
}

ul li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: teal;
}

a:visited {
    color: teal;
}

.img {
    float: left;
    width: 10rem;
    height: 8rem;
    margin-right: 1rem;
    
}
 
main {
    text-align: justify;
    float: left;
    margin-left: 13rem;
    margin-top: -8.5rem;
    margin-right: 2rem;
}

main p {
    margin-top: -0.02rem;
}


footer p{
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 20rem;
    width: 100%;
    padding: 14px;
    background-color: teal;
    color: white;
}


form label{
    padding-right: 50rem;
}